<div id="profile_image">
<%= image_tag "profile1.jpg" %>
</div>

<div id= "content">
  <h1>Hello! I'm Carlos Hernandez</h1>
  <p> Welcome to my blog</p>
  <p> This is the first real app that I make,</p>
  <p> so far it has been an amazing experience </p>

  <p> Plase keep in touch!</p>
</div>
